body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #55423d;
}

.navbar {
    text-align: center;
    font-size: 1.25em;
    color: #271c19;
    margin: 0;
}

.main-content {
    margin: 0 auto;
    width: 800px;
}

.add-item {
    display: flex;
    margin-bottom: 30px;
}

input {
    background-color: #55423d;
    outline: none;
    width: 100%;
    margin-left: 10px;
    border: none;
    font-size: 32px;
}